
div, input {

    font-size: x-large;
}

button {

    font-size: large;
}

.buttonChangeState:hover {
    background:rgb(212, 241, 212);
    }
    
.buttonChangeState:focus {
    background:rgb(180, 228, 236);
    }


.Actived {
    color: green;

}

.Completed {
    color: red;
    text-decoration: line-through
}


